body{
    overflow-x: hidden;
}

.nav-link{
        font-size: 14px;
        text-transform: uppercase;
        padding-left:1em !important;
        padding-right: 1em !important;
}

.nav-item.active{
    border-left: #444 3px solid;
}
.carousel-image-1{
    height:400px;
}
.carousel-image-2{
    height: 400px;
}
.carousel-image-3{
    height: 400px;
}
.carousel-caption{
    padding-bottom: 50px;
}

.fa h3{
    font-size: 30px;
}
.fa p{
    font-size: 20px;
}

#home-heading{
    position: relative;
    min-height: 200px;
    background: url('../img/lights.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}

.dark-overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#video-play{
    position: relative;
    min-height: 200px;
    background: url('../img/media.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 -300px;
    text-align: center;
    color: #fff;
}

#video-play, a{
    color: #fff;
}

#gallery p{
    font-size:18px;
}
.image-row{
    padding-bottom: 20px; 
}

footer#main-footer{
    background:#000;
    color: #fff;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:#555;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
  }
  
  #myBtn:hover {
    background-color:red;
  }


  /* About Page */

#page-header{
    height:200px;
    background:url('../img/image1.jpg');
    background-position: 0 -360px;
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px #eee solid;
    padding-top: 50px;
}

#about img{
    margin-top: -50px;
}


/* Services Page */

.card-header{
    background-color: #444;
}
#services .card-body, .card-text{
    color: #444;
}

.list-group,fa-check{
    color: rgb(70, 67, 67);
    
}
.card-footer{
    background-color: #eeeeee;
    
}

#blog .card-title, .card-blockquote{
    color: #000;
}

#faq .card-body{
    color: #444;
}
